<h1>Welcome!</h1>
<% if @images.any?  %>
  <% @images.each do |image| %>
  <%= link_to image_tag(image.photo.url, class: 'media-object'), image.photo.url, target: '_blank' %>
  <%= link_to 'Edit', edit_image_path(image) %>
  <%= link_to 'Delete', image_path(image),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %>
  
</div>
  <% end %>
<% else %>
  <p>Oops! currently you dont have any Picture.. Please Add new</p>
  <% end %>
<br/>
<% if session[:user_id] %>
  <%= link_to 'Upload Image', new_image_path() %>
<% end %>
